
            <!--################ BOTTOM SECTION START ################-->

            <section id="bottom" class="paddingbot20">

                <div class="row center">

                    <h2>Nos verás en..</h2>
                </div>
                <div class="container">
                    <div class="row center">
                        <div class="as-seen">
                            <div class="span2">
                                <%= image_tag('client-coketas.png', alt:"Tc") %>
                            </div>
                            <div class="span2">
                                <%= image_tag('client-cc.png', alt:"Tc") %>
                            </div>
                        </div>


                    </div>
                </div>

            </section>

            <!--################ BOTTOM SECTION END ################-->