<section id="contact">
  <div id="contact-background" data-stellar-background-ratio="0">
    <h1>Contáctenos</h1>
    <p class="sub-heading-contact">Podemos hacerlo realidad</p>
  </div>
  <div class="container">
    <div class="row margintop20">
      <h2 class="big-h2-heading">Contáctenos</h2>
      <p>Háganos saber lo que piensa y nos pondremos en contacto con usted a la brevedad.</p>
      <%= form_for Contact.new, url: contact_path, html: {class: "form-main"} do |f|%>
        <fieldset>
          
          <div class="span5 offset1">
            <div class="clearfix">
              <div class="input">
                <%= f.text_field :name, placeholder:"Nombre", class: "input-xlarge", required: true %>
              </div>
            </div>
          </div>

          <div class="span5">
            <div class="clearfix">
              <div class="input">
                <%= f.text_field :email, placeholder:"Email", class: "input-xlarge", required: true %>
              </div>
            </div>
          </div>

          <div class="span10 offset1">
            <div class="clearfix">
              <div class="input">
                <%= f.text_area :message, placeholder:"Mensaje", size: "7x20", class: "input-xlarge", required: true %>
              </div>
            </div>
            <div class="actions">
              <button tabindex="3" type="submit" class="btn btn-landing ">Enviar</button>
            </div>
          </div>

        </fieldset>
      <% end %>

      <div class="span6 offset3">
        <ul class="iconos-contacto">
          <li>
            <a href="https://www.facebook.com/" target="_blank">
              <i class="icon-facebook"></i><h4>Facebook</h4>
            </a>
          </li>
          <li>
            <a href="http://ar.linkedin.com/" target="_blank">
              <i class="icon-linkedin"></i><h4>Linkedin</h4>
            </a>
          </li>
          <li>
            <a href="https://github.com/" target="_blank">
              <i class="icon-github-alt"></i><h4>Github</h4>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
