
            <!--################ CONTACT SECTION START ################-->


<section id="contact" class="margintop40">
  <div id="contact-background" data-stellar-background-ratio="0">
      <h1>Contáctenos</h1>
      <p class="sub-heading-contact">WHERE WE WORK </p>
  </div>
  <div class="container">
    <div class="row margintop20">
      <div class="span6">
        <h2 class="big-h2-heading"><i class="icon-envelope-alt"></i> Contáctenos</h2>
        <p>Háganos saber lo que piensa y nos pondremos en contacto con usted a la brevedad.</p>
        <form class="form-main">

            <fieldset>
                <div class="clearfix">
                    <label for="name"><span>Nombre:</span></label>
                    <div class="input">
                        <input id="name" name="name" type="text" value="" class="input-xlarge">

                    </div>


                </div>

                <div class="clearfix">
                    <label for="email"><span>Email:</span></label>
                    <div class="input">
                        <input id="email" name="email" type="text" value="" class="input-xlarge">
                    </div>
                </div>

                <div class="clearfix">
                    <label for="message"><span>Mensaje:</span></label>
                    <div class="input">
                        <textarea tabindex="3" class="input-xlarge" id="message" name="body" rows="7"></textarea>
                    </div>
                </div>

                <div class="actions">
                    <button tabindex="3" type="submit" class="btn btn-landing ">Enviar</button>
                </div>
            </fieldset>

        </form>
      </div>
      <div class="span5 offset1">
      <!-- COLUMNA CON MAPA Y DATOS
          <h2 class="big-h2-heading"><i class="icon-map-marker"></i> Find Us</h2>
          <p>Let us know what you think and we will get back to you with a cool reply!</p>
          <p><i class="icon-road"></i> Street Name - 1215/3, Our Land, Earth</p>
          <p><i class="icon-home"></i> London</p>
          <p><i class="icon-phone"></i> +1-234-56789</p>
          <iframe id="small-map" width="350" height="320" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="./Purity Bootstrap Business Theme_files/maps.html"></iframe>
      -->

        <ul class="iconos-contacto">
          <li>
            <a href="https://www.facebook.com/" target="_blank">
              <i class="icon-facebook"></i><h4>Facebook</h4>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com/" target="_blank">
              <i class="icon-twitter"></i><h4>Twitter</h4>
            </a>
          </li>
          <li>
            <a href="http://ar.linkedin.com/" target="_blank">
              <i class="icon-linkedin"></i><h4>Linkedin</h4>
            </a>
          </li>
          <li>
            <a href="https://github.com/" target="_blank">
              <i class="icon-github-alt"></i><h4>Github</h4>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</section>


            <!--################ CONTACT SECTION END ################-->

