<section id="features">
    <div id="features-banner" data-stellar-background-ratio="0">
        <h1>Nuestras Caracteristicas</h1>
        <p class="sub-heading-support">Por que elegirnos</p>
    </div>
    <div class="container">
        <div class="row padding100">
            <span class="rule"></span>
            <div class="icon-stack up">
                <i class="icon-sign-blank"></i>
                <i class="point icon-comments-alt"></i>
                <h3>Cuestionario</h3>
                <p>Las tendencias apuntan a los dispositivos móviles y en Nibyru estamos al tanto de eso.</p>
            </div>
            <div class="icon-stack down">
                <i class="icon-sign-blank"></i>
                <i class="point icon-sitemap"></i>
                <h3>Maqueta</h3>
                <p>Las tendencias apuntan a los dispositivos móviles y en Nibyru estamos al tanto de eso.</p>
            </div>
            <div class="icon-stack up">
                <i class="icon-sign-blank"></i>
                <i class="point icon-pencil"></i>
                <h3>Diseño</h3>
                <p>Las tendencias apuntan a los dispositivos móviles y en Nibyru estamos al tanto de eso.</p>
            </div>
            <div class="icon-stack down">
                <i class="icon-sign-blank"></i>
                <i class="point icon-terminal"></i>
                <h3>Desarrollo</h3>
                <p>Las tendencias apuntan a los dispositivos móviles y en Nibyru estamos al tanto de eso.</p>
            </div>
            <div class="icon-stack up">
                <i class="icon-sign-blank"></i>
                <i class="point icon-thumbs-up"></i>
                <h3>¡A disfrutar!</h3>
                <p>Las tendencias apuntan a los dispositivos móviles y en Nibyru estamos al tanto de eso.</p>
            </div>
        </div>
    </div>
</section>