<!--################ FEATURES SECTION START ################-->
<section id="features">

    <div id="features-banner" data-stellar-background-ratio="0">

        <h1> Nuestras Caracteristicas <i class="icon-rocket"></i> </h1>
        <p class="sub-heading-support">Por que elegirnos</p>
    </div>

    <div class="container">

        <div class="row margintop20">

            <div class="span4">
                <h2><i class="icon-briefcase"></i> 1st Feature</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. </p>
            </div><!-- /span4 -->
            <div class="span4">
                <h2><i class="icon-bullhorn"></i> 2nd Feature</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. </p>

            </div><!-- /span4 -->
            <div class="span4">
                <h2><i class="icon-bar-chart"></i> 3rd Feature</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh.</p>

            </div><!-- /span4 -->
        </div>
        <hr class="line">
        <div class="row">
            <div class="span12">
                <ul class="thumbnails">
                    <li class="span3">

                        <div class="thumbnail border-left features">
                            <div class="feature-icon">
                                <i class="icon-cloud-download icon-10x"></i>
                            </div>
                            <h4>Cloud Computing</h4>

                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. </p>
                        </div>
                    </li>
                    <li class="span3">

                        <div class="thumbnail border-none">
                            <div class="feature-icon">
                                <i class="icon-dashboard icon-10x"></i>
                            </div>
                            <h4>Dashboard</h4>

                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. </p>
                        </div>
                    </li>
                    <li class="span3">

                        <div class="thumbnail border-right">
                            <div class="feature-icon">
                                <i class="icon-download icon-10x"></i>
                            </div>
                            <h4>Downloads</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. </p>
                        </div>
                    </li>
                    <li class="span3">

                        <div class="thumbnail border-right">
                            <div class="feature-icon">
                                <i class="icon-lock icon-10x"></i>
                            </div>
                            <h4>Security</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>