<section id="features">
    <div id="features-banner" data-stellar-background-ratio="0">
        <h1>Nuestras Caracteristicas</h1>
        <p class="sub-heading-support">Por que elegirnos</p>
    </div>
    <div class="container">
        <div class="row padding100">
            <div class="span4">
                <h2><i class="icon-briefcase"></i> 1st Feature</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. </p>
            </div>
            <div class="span4">
                <h2><i class="icon-bullhorn"></i> 2nd Feature</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. </p>
            </div>
            <div class="span4">
                <h2><i class="icon-bar-chart"></i> 3rd Feature</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh.</p>
            </div>
        </div>
    </div>
</section>