        <!--################ FOOTER START ################-->

        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <!--<h2>about us...</h2>-->
                        <%= image_tag('logo.png') %>

                        <!--<p><br /Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam.</p>-->
                        <p><br>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam.</p>
                        <p class="copyright">
                            © 2013 Nibyru Software Factory
                        </p>
                    </div>
                    <div class="span2">
                        <h2>links </h2>
                        <ul class="unstyled footer-links">
                            <li><a href="#" class="flink">About Us</a></li>
                            <li><a href="#" class="flink">The Team</a></li>
                            <li><a href="#" class="flink">Blog</a></li>
                            <li><a href="#" class="flink">Contact</a></li>
                            <li><a href="#" class="flink">Privacy Policy</a></li>
                            <li><a href="#" class="flink">Terms of Use</a></li>
                        </ul>
                    </div>

                    <div class="span3">
                        <h2>subscribe </h2>

                        <a href="#" class="social-network sn2 facebook"></a>
                        <a href="#" class="social-network sn2 twitter"></a>
                        <a href="#" class="social-network sn2 linkedin"></a>
                        <a href="#" class="social-network sn2 github"></a>
                        <a href="#" class="social-network sn2 email"></a>     

                    </div>

                </div>
            </div>

        </footer>


        <!--################ FOOTER END ################-->