        <!--################ FOOTER START ################-->

        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <!--<h2>about us...</h2>-->
                        <%= image_tag('logo.png') %>

                        <!--<p><br /Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam.</p>-->
                        <p><br>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam.</p>
                        <p class="copyright">
                            © 2013 Nibyru Software Factory
                        </p>
                    </div>
                    <div class="span2 offset1">
                        <h2>links </h2>
                        <ul class="unstyled footer-links">
                            <li><a href="#top" class="flink">Inicio</a></li>
                            <li><a href="#features" class="flink">Caracteristicas</a></li>
                            <li><a href="#support" class="flink">Servicios</a></li>
                            <li><a href="#testimonials" class="flink">Testimonios</a></li>
                            <li><a href="#contact" class="flink">Contacto</a></li>
                        </ul>
                    </div>

                    <div class="span4 offset1">
                        <h2>Visitanos en</h2>

                        <a href="#" class="social-network sn2 facebook"></a>
                        <a href="#" class="social-network sn2 twitter"></a>
                        <a href="#" class="social-network sn2 linkedin"></a>
                        <a href="#" class="social-network sn2 github"></a>
                        <a href="#" class="social-network sn2 email"></a>     

                    </div>

                </div>
            </div>

        </footer>


        <!--################ FOOTER END ################-->