        <!--################ FOOTER START ################-->

        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <!--<h2>about us...</h2>-->
                        <%= image_tag('logo1.png') %>

                        <!--<p><br /Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam.</p>-->
                        <p><br>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam.</p>
                        <p class="copyright">
                            © 2013 Purity Bootstrap Template
                        </p>
                    </div>
                    <div class="span2">
                        <h2>links </h2>
                        <ul class="unstyled footer-links">
                            <li><a href="http://uexel.us/themes/purity/onepage/wide/#" class="flink">About Us</a></li>
                            <li><a href="http://uexel.us/themes/purity/onepage/wide/#" class="flink">The Team</a></li>
                            <li><a href="http://uexel.us/themes/purity/onepage/wide/#" class="flink">Blog</a></li>
                            <li><a href="http://uexel.us/themes/purity/onepage/wide/#" class="flink">Contact</a></li>
                            <li><a href="http://uexel.us/themes/purity/onepage/wide/#" class="flink">Privacy Policy</a></li>
                            <li><a href="http://uexel.us/themes/purity/onepage/wide/#" class="flink">Terms of Use</a></li>
                        </ul>
                    </div>

                    <div class="span3">
                        <h2>subscribe </h2>

                        <a href="http://uexel.us/themes/purity/onepage/wide/#" class="social-network sn2 behance"></a>
                        <a href="http://uexel.us/themes/purity/onepage/wide/#" class="social-network sn2 facebook"></a>
                        <a href="http://uexel.us/themes/purity/onepage/wide/#" class="social-network sn2 pinterest"></a>
                        <a href="http://uexel.us/themes/purity/onepage/wide/#" class="social-network sn2 flickr"></a>
                        <a href="http://uexel.us/themes/purity/onepage/wide/#" class="social-network sn2 dribbble"></a>
                        <a href="http://uexel.us/themes/purity/onepage/wide/#" class="social-network sn2 lastfm"></a>
                        <a href="http://uexel.us/themes/purity/onepage/wide/#" class="social-network sn2 forrst"></a>
                        <a href="http://uexel.us/themes/purity/onepage/wide/#" class="social-network sn2 xing"></a>      


                    </div>

                    <div class="span3">
                        <h2 class="center"><i class="icon-twitter"></i></h2>
                        <ul id="twitter" class="unstyled">

                        </ul>
                    </div>


                </div>
            </div>

        </footer>


        <!--################ FOOTER END ################-->