<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="span4">
                <%= image_tag('logo.png') %>
                <p><br>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam.</p>
                <p class="copyright">
                    © 2013 Nibyru Software Factory
                </p>
            </div>
            <div class="span5 offset2">
              <h2>Visitanos en</h2>
              <ul class="iconos-contacto">
                  <li>
                      <a href="https://www.facebook.com/" target="_blank">
                          <i class="icon-facebook"></i>
                      </a>
                  </li>
                  <li>
                      <a href="http://ar.linkedin.com/" target="_blank">
                          <i class="icon-linkedin"></i>
                      </a>
                  </li>
                  <li>
                      <a href="https://github.com/" target="_blank">
                          <i class="icon-github-alt"></i>
                      </a>
                  </li>
              </ul>
            </div>
        </div>
    </div>
</footer>