<header id="top" data-stellar-background-ratio="0" style="height: 923px;">
    <div class="container home">
      <div class="row">
        <div class="span10 offset1 intro">
          <%= image_tag ('logo02.png') %>
          <h2>Software Factory</h2>
        </div>
      </div>
      <div class="social-header hidden-phone">
          <a href="#" class="social-network sn2 facebook"></a>
          <a href="#" class="social-network sn2 linkedin"></a>
          <a href="#" class="social-network sn2 github"></a>
          <a href="#" class="social-network sn2 email"></a>
      </div>
    </div>
    <div id="home-arrow" class="hidden-phone">
        <a href="#features"><i class="icon-double-angle-down icon-3x" id="iconHome"></i></a>
    </div>
</header>
