<!--################ HEADER START ################-->

            <header id="top" data-stellar-background-ratio="0" style="height: 923px;">
                <div class="container home">


                    <div class="flexslider home">
                        <ul class="slides">
                            <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item; opacity: 0.07933611111111116;" class="">
                                <div class="span7 animated fadeInLeftBig">
                                    <%= image_tag('responsive.png') %>
                                </div>
                                <div class="span4 margintop10p animated fadeInDownBig">

                                    <h1><i class="icon-tablet"></i><i class="icon-mobile-phone"></i><i class="icon-desktop"></i><br>full responsive</h1>
                                </div>

                            </li>
                            <li class="margin5 flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item; opacity: 0.9206638888888888;">
                                <div class="span6 animated fadeInLeftBig" id="main-media">
                                    <div class="fluid-width-video-wrapper" style="padding-top: 41.37931034482759%;"><iframe src="./site/56072786.html" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" id="fitvid895610"></iframe></div>
                                </div>
                                <div class="span5">
                                    <h1>a complete parallex template for your needs</h1>

                                </div>

                            </li>
                            <li class="margintop10p" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;"><h1><i class="icon-tablet"></i><i class="icon-mobile-phone"></i><i class="icon-desktop"></i><br>and yes its full responsive </h1></li>
                            <li class="margintop10p" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;"><h1><i class="icon-eye-open icon-2x"></i><br>oh! did i mentioned, its retina ready...</h1></li>


                        </ul>

                    <ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="flex-active">2</a></li><li><a class="">3</a></li><li><a class="">4</a></li></ol></div>

                    <div class="social-header hidden-phone">

                        <a href="http://uexel.us/themes/purity/onepage/wide/#" class="social-network sn2 behance"></a>
                        <a href="http://uexel.us/themes/purity/onepage/wide/#" class="social-network sn2 facebook"></a>
                        <a href="http://uexel.us/themes/purity/onepage/wide/#" class="social-network sn2 pinterest"></a>
                        <a href="http://uexel.us/themes/purity/onepage/wide/#" class="social-network sn2 flickr"></a>
                        <a href="http://uexel.us/themes/purity/onepage/wide/#" class="social-network sn2 dribbble"></a>
                        <a href="http://uexel.us/themes/purity/onepage/wide/#" class="social-network sn2 lastfm"></a>
                        <a href="http://uexel.us/themes/purity/onepage/wide/#" class="social-network sn2 forrst"></a>
                        <a href="http://uexel.us/themes/purity/onepage/wide/#" class="social-network sn2 xing"></a>   


                    </div>

                </div>




                <div id="home-arrow" class="hidden-phone">

                    <a href="#features"><i class="icon-double-angle-down icon-3x" id="iconHome"></i></a>

                </div>
            </header>

            <!--################ HEADER END ################-->