        <!--################ NAVIGATION START ################-->
        <div class="navbar-wrapper">
            <div class="navbar navbar-fixed-top" id="navigation">
                <div class="navbar-inner sticky">
                    <div class="container">
                        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="brand" href="#">
                          <%= image_tag('logo1.png', width: "150", id: "logokhan", class: "") %>
                        </a>
                        <div class="nav-collapse collapse">
                            <ul class="nav pull-right">

                                <li class="">
                                    <a href="#top">Home</a>

                                </li>
                                <li class="">
                                    <a href="#features">Features</a>
                                </li>
                                <li class="">
                                    <a href="#support">Services</a>
                                </li>
                                <li class="active">
                                    <a href="#testimonials">Testimonials</a>
                                </li>

                                <li class="">
                                    <a href="#contact">Contact</a>
                                </li>
                                <li class="">
                                    <a data-toggle="modal" href="#myModal" class="">Sign Up</a>
                                </li>

                                <li class="dropdown">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Sign In <b class="caret"></b></a>
                                    <div class="dropdown-menu" style="padding: 15px;">
                                        <form action="http://uexel.us/themes/purity/onepage/wide/#" method="post" accept-charset="UTF-8" class="form-menu">
                                            <input id="user_username" type="text" name="user[username]" size="33" placeholder="Username">
                                            <input id="user_password" type="password" name="user[password]" size="33" placeholder="Password">
                                            <label class="checkbox muted hidden-tablet"><input type="checkbox"> Remember Me</label>
                                            <input class="btn span3" type="submit" name="commit" value="Sign In">
                                        </form>

                                    </div>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--################ NAVIGATION END ################-->