<section id="products" class="paddingbottom40">
    <div id="products-background" data-stellar-background-ratio="0.5">

        <h1> Productos <i class="icon-tags"></i> </h1>
        <p class="sub-heading-support">TENEMOS UN PLAN ADECUADO A SUS NECESIDADES</p>

    </div>
    <div class="container">
        <div class="row">
            <div class="span12 center">
                <!-- <h1 class="big-heading">Productos</h1> -->              
            </div>
        </div>
        <div class="row" id="pricing">

            <div class="span4 offset2">
                <div class="price-plan price-plan-business">
                    <h2>No Administrable</h2>

                    <div class="price">
                        <div class="inside">
                            <span class="super">$</span><span class="amt">3000</span> <span class="sub">/arg</span>
                        </div>
                    </div>

                    <div class="info">
                        <ul>
                            <li class="bold">Diseño moderno</li>
                            <li class="bold">Responsive Design</li>
                            <li>Hosting</li>
                            <li>Dominio <span class="free">Free</span></li>
                            <li>Soporte 24/7</li>
                            <li>&nbsp;</li>
                            <li>&nbsp;</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="price-plan price-plan-unlimited">
                    <h2>Administrable</h2>

                    <div class="price">
                        <div class="inside">
                            <span class="super">$</span><span class="amt">4500</span> <span class="sub">/arg</span>
                        </div>

                        <div class="most-popular">
                            <span>
                                <p>Premium</p>
                            </span>
                        </div>
                    </div>

                    <div class="info">
                        <ul>
                            <li class="bold">Ilimitadas secciones &amp;</li>
                            <li class="bold">Ilimitadas Imagenes</li>
                            <li class="bold">Ilimitados Videos</li>
                            <li class="bold">Panel de Administración</li>
                            <li>Responsive Design</li>
                            <li>Hosting</li>
                            <li>Dominio <span class="free">Free</span></li>
                            <li>Soporte 24/7</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>