<section id="products">
    <div id="products-background" data-stellar-background-ratio="0.5">
        <h1>Productos</h1>
        <p class="sub-heading-support">
            TENEMOS UN PLAN ADECUADO A SUS NECESIDADES
        </p>
    </div>
    <div class="container padding100">
        <div class="row" id="pricing">
            <div class="span3">
                <div class="price-plan price-plan-business">
                    <h2>Web standard</h2>
                    <div class="price">
                        <div class="inside">
                            <span class="super">DESDE $</span><span class="amt">3000</span> <span class="sub">/arg</span>
                        </div>
                    </div>
                    <div class="info">
                        <ul>
                            <li class="bold">Diseño moderno</li>
                            <li class="bold">Funcional en todos los dispositivos</li>
                            <li>Hosting</li>
                            <li>Dominio <span class="free">Free</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="price-plan price-plan-unlimited">
                    <h2>Administrable</h2>
                    <div class="price">
                        <div class="inside">
                            <span class="super">DESDE $</span><span class="amt">4500</span> <span class="sub">/arg</span>
                        </div>
                        <div class="most-popular">
                            <span>
                                <p>Premium</p>
                            </span>
                        </div>
                    </div>
                    <div class="info">
                        <ul>
                            <li class="bold">Diseño moderno</li>
                            <li class="bold">Funcional en todos los dispositivos</li>
                            <li>Hosting</li>
                            <li>Dominio <span class="free">Free</span></li>
                            <li class="bold">Panel de administración</li>
                            <li>Cuentas de usuarios</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="price-plan price-plan-business">
                    <h2>E-Commerce</h2>
                    <div class="price">
                        <div class="inside">
                            <span class="super">DESDE $</span><span class="amt">6000</span> <span class="sub">/arg</span>
                        </div>
                    </div>
                    <div class="info">
                        <ul>
                            <li class="bold">Diseño moderno</li>
                            <li class="bold">Funcional en todos los dispositivos</li>
                            <li>Hosting</li>
                            <li>Dominio <span class="free">Free</span></li>
                            <li class="bold">Panel de administración</li>
                            <li>Cuentas de usuarios</li>
                            <li class="bold">Sistema de ventas on-line</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="price-plan price-plan-business">
                    <h2>Pack Empresa</h2>
                    <div class="price">
                        <div class="inside">
                            <span class="super">DESDE $</span><span class="amt">350</span> <span class="sub">/arg</span>
                        </div>
                    </div>
                    <div class="info">
                        <ul>
                            <li>Diseño de logo</li>
                            <li>Tarjetas personales</li>
                            <li>Banners</li>
                            <li>Otro merchandising</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="pricing">
            <div class="span12">
                <div class="price-plan price-plan-business">
                    <h2>Mantenimiento</h2>
                    <div class="info">
                        <ul>
                            <li class="bold" style="text-align: center;">Soporte 24/7 <span class="free">Consultar</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>