<!--################ SUPPORT SECTION START ################-->
   <section id="support" class="paddingbottom40">
      <div id="support-banner" data-stellar-background-ratio="0.5">

         <!--################ CARROUSEL ################-->

         <div id="carousel_fade_1" class="carousel slide carousel-fade">
            <div class="carousel-inner">
               <div class="item">
                  <h1> <i class="icon-comments"> </i> Soporte Personalizado</h1>
                  <p class="sub-heading-support">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. </p>
               </div>

               <div class="item active">
                  <h1><i class="icon-double-angle-up"></i> Modernos Efectos</h1>
                  <p class="sub-heading-support">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. </p>
               </div>

               <div class="item">
                  <h1><i class="icon-desktop"></i> Responsive Design</h1>
                  <p class="sub-heading-support">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. </p>
               </div>
            </div>               

            <!--################ BUTTONS CARROUSEL ################-->
            <button class="carousel-control left car-button" href="#carousel_fade_1" data-slide="prev"><i class="icon-chevron-left">
            </i></button>
            <button class="carousel-control right car-button" href="#carousel_fade_1" data-slide="next"><i class="icon-chevron-right">
            </i></button>
         </div>
         <!--################ END CARROUSEL ################-->            
      </div>

      <div class="container">
         <div class="row center">
            <div class="span12" style="margin-left:0;">
                <ul class="thumbnails margintop40">
                    <li class="span4">
                        <div class="thumbnail border-left">
                            <div class="span4 support-icon">
                                <i class="icon-edit icon-2x"></i>
                            </div>
                            <div class="span4">
                               <h4>Diseño Web</h4>

                               <p><i class="icon-ok"></i> Las ultimas tendencias del planeta Nibyru en sus paginas y aplicaciones web. </p>
                           </div>
                        </div>
                    </li>
                    <li class="span4">

                        <div class="thumbnail border-none">
                           <div class="span4 support-icon">
                              <i class="icon-code icon-2x"></i>
                           </div>
                           <div class="span4">
                              <h4>Desarrollo Web</h4>
                              <p><i class="icon-ok"></i> Usamos tencnologias de desarrollo actuales.</p>
                           </div>
                        </div>
                    </li>
                    <li class="span4">

                        <div class="thumbnail border-right">
                           <div class="span4 support-icon">
                              <i class="icon-mobile-phone icon-2x"></i>
                           </div>
                           <div class="span4">
                              <h4>Desarrollo Mobile</h4>
                              <p><i class="icon-ok"></i> Las tendencias apuntan a los dispositivos moviles y en Nibyru estamos al tanto de eso.</p>
                           </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- <div class="span4 margintop40">
               <div class="row left">
                  <div class="span1"><i class="icon-calendar support-icon">
                  </i>
                  </div>

                  <div class="span3">
                     <h2>24 / 7 / 365</h2>
                     <ul class="unstyled">
                        <li><i class="icon-ok"></i> Elaboraciones e Innovaciones todos los días del año.</li>
                        <li><i class="icon-ok"></i> From your  dashboard</li>
                        <li><i class="icon-ok"></i> Ask us about anything</li>  
                     </ul>
                  </div>
               </div>
            </div>

            <div class="span4 margintop40">
               <div class="row left">
                  <div class="span1"><i class="icon-book support-icon"></i></div>

                  <div class="span3">
                     <h2>Manual</h2>
                     <ul class="unstyled">
                         <li><i class="icon-ok"></i> Unlimited support in minutes</li>
                         <li><i class="icon-ok"></i> From your  dashboard</li>
                         <li><i class="icon-ok"></i> Ask us about anything</li>
                     </ul>
                  </div>
               </div>
            </div>

            <div class="span4 margintop40">
               <div class="row left">
                  <div class="span1"><i class="icon-file support-icon "></i>
                  </div>
                  <div class="span3">
                     <h2>Docs</h2>
                     <ul class="unstyled">
                        <li><i class="icon-ok"></i> Unlimited support in minutes
                        </li>
                        <li><i class="icon-ok"></i> From your  dashboard</li>
                        <li><i class="icon-ok"></i> Ask us about anything</li>
                     </ul>
                  </div>
               </div>
            </div> -->
         </div>
      </div>
   </section>
<!--################ END SUPPORT SECTION ################-->