    <section id="testimonials">
        <div id="testimonials-background" data-stellar-background-ratio="0.5">

            <h1>Testimonios  <i class="icon-thumbs-up"></i></h1>
            <h2 class="sub-heading-support">Que dicen nuestros clientes</h2>

        </div>
        
        <div class="container">
            <div class="row center margintop40">

                <div id="carousel_fade_2" class="span12 carousel slide carousel-fade">
                    <div class="carousel-inner ">
                        <div class="item  testimonial active">
                            <div class="row">
                                <div class="span4 offset1">
                                    <%= image_tag('team2.jpg') %>
                                </div>
                                <div class="span6" style="padding-top: 45px;">
                                    <p class="quote"><i class="icon-quote-left quote"></i>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa.<i class="icon-quote-right quote"></i></p>
                                    <h4 class="pull-right">CEO Mac</h4>
                                </div>
                            </div>
                        </div>

                    </div>
                    <button class="carousel-control left car-button" href="#carousel_fade_2" data-slide="prev"><i class="icon-chevron-left"></i></button>
                    <button class="carousel-control right car-button" href="#carousel_fade_2" data-slide="next"><i class="icon-chevron-right"></i></button>


                </div>

            </div>
        </div>
    </section>
