body{
  padding:0;
  margin:0;
  color: #fff;
  background: black url(bg.jpg) center center no-repeat;
  background-size:100%;
  background-attachment: fixed;
  max-height: 100%;
  overflow: hidden;
}
.container{
  overflow:hidden;
}
.contenedor{
  border-radius: 10px 10px 0 0;
  margin:0;
  padding:0;
  position: absolute;
  z-index:2;
  width:80%;
  font-family:arial;
  opacity:0;
  left:12%;
  top: 101%;
  overflow:hidden;
  height:100%;
}

.nibyru{
  position: fixed;
  top: 1em;
  width: 13em;
  height: 4.6em;
  background: url(logo.png) no-repeat;
  background-size: 100%;
}

h2{
  top:40%;
  font-size: 40px;
}

nav{
  position:fixed;
  left:0;
  top:30%;
  z-index:10;
}

nav ul{
  overflow:hidden;
  list-style:none;
  margin:0;
  padding: 0;
}

nav li{
  margin-right: 2em;
  margin-bottom: 5px;
  width: 100%;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in;
  border-radius: 0 5px 5px 0;
  background: rgba(0, 0, 0, 0.44);
  height: 55px;
  line-height: 35px;
  -webkit-transform:translate(-120px);
  border-right: 1px solid rgb(0, 114, 109);
}

nav li:hover{
  box-sizing: border-box;
  -webkit-transform:translate(0px);
}

nav .icon{
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 18px;
  width: 1em;
  height: 1em;
}

nav a{
  color:#fff;
  font-family:Audiowide, Arial;
  display:block;
  padding:10px;
  text-decoration:none;
  font-weight:bold;
  font-size: 1.2em;
}

nav li:hover a{
  opacity: 1;
  text-shadow: 0px 0px 20px rgba(0, 200, 220, 1);
}

// parallax
#mindscape {
    width: 80%;
    height: 759px;
    overflow: hidden;
    margin: auto;
}
#mindscape li{
    width: 844px;
    height: 170px;
}

.planet4 img, .planet2 img, .planet3 img{
  width: 200px;
}
.planet1 img {
  width: 27%;
  left: 48%;
  position: absolute;
  top: 135%;
}
.planet2 img {
  width: 20%;
  left: 22%;
  position: absolute;
  top: 243%;
}
.planet3 img {
  width: 17%;
  left: 53%;
  position: absolute;
  top: 10%;
}
.planet4 img {
  width: 18%;
  left: 79%;
  position: absolute;
  top: 249%;
}
#servicios, #inicio, #portfolio, #nosotros, #contacto{
  -webkit-transition: all 0.5s ease;
}

/* boques servicios*/
#servicios{
  .algo{ text-align: center; }
  .bloques {
    display: inline-block;
    width: 28%;
    height: 150px;
    border: 2px solid;
    border-radius: 0 15px 0 15px;
    padding: 15px;
    margin: 5px;
    vertical-align: top;
    /*background: url(panal.jpg);*/
    background: rgba(0,0,0,0.8);
    text-align: left;
  }
  h2, h3{
    font-family:Audiowide, Arial;
  }
  .icon {
    font-size: 5em;
    float: left;
    margin-right: 15px;
    height: 100%;
    padding-top: 15px;
  }
}
//Portfolio
#portfolio{
  h2{font-family:Audiowide, Arial;}

  #col1, #col2{
    display: inline-block;
  }
  .pc, .tablet, .cel{
    position: absolute;    
  }
  #col1{
    width: 70%;
    .pc{
      top: 0;
      left: 0;
      display: block;
      width: 50%;
      img{
        width: 100%;
        height: auto;
      }
      span{
        position: absolute;
        width: 83%;
        height: 72%;
        top: 13%;
        left: 7%;
      }
    }
    .tablet{
      top: 20%;
      left: 40%;
      display: block;
      width: 25%;
      img{
        width: 100%;
        height: auto;
      }
      span{
        position: absolute;
        width: 77%;
        height: 72%;
        top: 13%;
        left: 11%;
      }
    }
    .cel{
      top: 28%;
      left: 62%;
      display: block;
      width: 9%;
      img{
        height: auto;
        width: 100%;
      }
      span{
        position: absolute;
        width: 72%;
        height: 61%;
        top: 17%;
        left: 14%;
      }
    }
  }
  #col2{
    position:absolute;
    text-align: center;
    width: 29%;
  }
  #slider{
    position: absolute;
    border: 2px solid white;
    width: 99%;
    height: 28%;
    top: 55%;
  }
}
/* nosotros */
.ch-grid {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}

.ch-grid:after, .ch-item:before {
  content: '';
  display: table;
}

.ch-grid:after {
  clear: both;
}

.ch-grid li {
  width: 220px;
  height: 220px;
  display: inline-block;
  margin: 20px;
}

.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  cursor: default;
  background-size: cover;
  background-position: center center;
}

.ch-info-wrap, .ch-info{
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.ch-info-wrap {
  top: 20px;
  left: 20px;
  background: rgba(249, 249, 249, 0.4);
  box-shadow: 0 0 0 20px rgba(255,255,255,0.2), inset 0 0 3px rgba(115,114, 23, 0.8);
}

.ch-info > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: center center;
}

.ch-info .ch-info-front {
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}

.ch-info .ch-info-back {
  opacity: 0;
  background: #223e87;
  pointer-events: none;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
  -moz-transition: all 0.4s ease-in-out 0.2s;
  -o-transition: all 0.4s ease-in-out 0.2s;
  text-align: center;
}

.ch-img-1 {
  background-image: url(alejandro.png);
}

.ch-info h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  margin: 0 15px;
  padding: 55px 0 0 0;
  height: 55px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
  color: #fff;
  padding: 10px 5px 0;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
  display: block;
  color: #e7615e;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 4px;
  font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
  color: #fff;
}

.ch-item:hover .ch-info-front {
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  opacity: 0;
}

.ch-item:hover .ch-info-back {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}
