doctype
html
  head
    title Nibyruweb
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'
    = csrf_meta_tags
  body
    a href="#"
      .nibyru
    = render 'shared/nav'
    = yield

javascript:
  $(function() {
    $('#mindscape').smart3d();
  });

  $(".btn-inicio, .btn-servicios, .btn-contacto, .btn-nosotros, .btn-portfolio").on("click", function(){
    $(".contenedor").css({
      "opacity": 0,
      "top": "101%"
    });
    if($(this).hasClass("btn-inicio")){ target = $("#inicio"); }
    if($(this).hasClass("btn-servicios")){ target = $("#servicios"); }
    if($(this).hasClass("btn-nosotros")){ target = $("#nosotros"); }
    if($(this).hasClass("btn-portfolio")){ target = $("#portfolio"); }
    if($(this).hasClass("btn-contacto")){ target = $("#contacto"); }
    target.css({
      "top": "15%",
      "opacity": 1,
      "background": "rgba(0, 0, 0, 0.4)"
    })
  })